.HeroSection{
    height: 100vh;
    background-color: aqua;
    scroll-snap-align: center;
    background: url(../assets/bg.jpeg);
    background-size: cover;
    
}
*{
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    overflow-y: none;
    scrollbar-width: none;
    scroll-behavior: smooth;
  
}
span{
  color: pink;
    align-items: center;
}
.Hero{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 3;
    gap: 20px;
   
    
}
h1{
    font-size: 60px;
    color: white;
    letter-spacing: 2px;
    margin: 10px;
    flex: 2;
    position: relative;
    text-transform: capitalize;
    

}
p{
    color: white;
    font-size: 20px;
    color: pink;
    margin: 10px;
    flex: 2;
    position: relative;

}
button{
    border-radius: 5px;
    background-color:palevioletred;
   text-align: center;
    width: 200px;
   height: 50px;
   padding: 3px;
  font-weight: 500;
  color: white;
    margin-right: 10px;
    font-size: 20px;
    border: none;
    margin: 10px;
    margin-top: 20px;
    position: relative;
    cursor: pointer;
    
}
.Imgline{
  
    width: 500px;
    height: 600px;
   object-fit: cover;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   margin: auto;
  position: relative;

animation-name: animate;
animation-duration: 2s  ;
animation-direction: alternate;
animation-iteration-count: infinite;
overflow-x: hidden;

 
  
}

@keyframes animate {
    to{
        transform: translateY(30px);
    }
    
}



 